$sizes: 38, 80, 136, 152, 200, 280, 788;
$border-color: #d4d8dd;

@each $size in $sizes {
  .width-#{$size} {
    width: $size * 1px;
  }
}

.dependence-index {
  .custom-table {
    border: 1px solid $border-color;
    border-radius: 4px;


    tr {
      td {
        &.br-none {
          border-right: none;
        }
      }
      &:last-child {
        td {
          border-bottom: 1px solid $border-color ;

          &:first-child {
            border-bottom-left-radius: 4px;
          }
          &:last-child {
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
  }

  .link {
    padding: 4px 0;
    display: inline-block;
  }
}

.dependence-new {
  .no-employee-text {
    font-size: 16px;
	  font-weight: 700;
  }

  .dropdown {
    > div {
      max-width: 100%;
    }
  }

  .procedures-type {
    .form-check {
      &:not(:last-child) {
        margin-bottom: 14px;
      }
      label {
        font-size: 14px;
      }
    }
  }

  input[type=checkbox] {
    position: relative;
  }

  .table.table-import {
    border: none;
    &.table-striped tbody tr:nth-of-type(odd) {
      background-color: #F3F8FE;
    }

    thead {
      th {
        &:nth-child(1) {
          width: 80px;
        }
        &:nth-child(2) {
          width: 136px;
        }
        &:nth-child(3) {
          width: 136px;
        }
        &:nth-child(4) {
          width: 80px;
        }
        &:nth-child(5) {
          width: 152px;
        }
        border-bottom: 0;
        &.selection-cell-header {
          width: 41px;
        }

        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
    tbody {
      tr {
        &:last-child {
          border: none;
          td {
            border-bottom: none;
          }
        }
        td {
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }

  .input-for-error {
    .form-control {
      display: none;
    }

    .field-error {
      padding: 10px 10px 5px 10px;
      display: block;
      border-top: 1px solid #d4d8dd;
    }
  }
}

.dependence-fields {
  .list-btn-checkboxes {
    &.no-spacing {
      .form-check {
        margin-bottom:0
      }
    }
  }

  .info-value {
    .small-input {
      .form-control {
        min-width: 120px;
        width: 120px;
        height: 34px;
      }
    }
  }

  .dependencies {
    margin-top: 59px;

    .btn-small {
      width: calc(50% - 5px);
      margin: 0;
    }

    .btn-light {
      background: linear-gradient(180deg, #FFFFFF 0%, #EFF1F4 99.81%);
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }

  .sticky {
    position: sticky;
    top: 48px;
  }

  .content-checkbox {
    .form-check {
      display: none;
    }
  }

  &.dependence-review {
    .dependencies {
      margin-top: 27px;
    }
  }

  .form-group {
    &--file {
      .info-value {
        .default-input {
          min-width: 0;
          width: auto;

          &--file {
            .form-control {
              border: none;
              display: none;
            }

            label {
              display: inline-flex;
              min-width: 108px;
              padding: 0 11px;
              height: 24px;
              align-items: center;
              justify-content: center;
              border-radius: 4px;
              box-shadow: 0 1px 1px 0 rgba($black, 0.1);
              border: solid 1px $border-color;
              background-image: linear-gradient(to top, $white, $white 33%);
              color: $gray;
              cursor: pointer;
            }

            .file-name {
              line-height: 1.5;
              letter-spacing: 0.07px;
              color: #3b7de9;
              font-size: 14px;
              margin-left: 12px;
            }

            .file-note {
              color: #999999;
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}

.add-dependent {
  .table-import {
    input[type=checkbox] {
      position: relative;
      border: none;

      &::before {
        width: 16px;
        height: 16px;
      }
    }

    .table-header {
      background-color: #e7f1fd;

      th {
        border-bottom: 0;
      }
    }

    .selection-cell-header {
      width: 41px;
    }
  }
}
