.react-bootstrap-table {
  width: 100%;
  .groups-table {
    th {
      vertical-align: middle;
    }
  }
}

.group-edit {
  .overlay {
    border: solid 1px $border-color;
    border-left-width: 0;
    border-right-width: 0;
    background-color: #fafafa;
    height: 36px;
    width: 100%;
    margin-left: 0 !important;
    padding: 0px 12px;

    &.flexible {
      height: auto;
    }

    &.warning {
      border: none;
      background-color: #ffffff;
    }
  }

  .prefecture-block {
    padding: 12px 0px;
  }

  .default-dropdown {
    &.full {
      max-width: 100%;
      min-width: 100%;
    }
  }

  .merit-rate-container {
    display: flex;

    > * {
      margin-right: 16px;
      margin-bottom: 0;
    }

    input[type=text] {
      width: 80px;
      text-align: right;
    }
  }

  .labor-insurance-number {
    width: 280px;
    input {
      width: 48px;
      padding-left: 4px;
      padding-right: 4px;
    }
    .base-number input{
      width: 60px;
    }
  }

  .unemployment-insurance-number {
    width: 280px;
    input {
      width: 80px;
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  .hide-error {
    .field-error {
      display: none;
    }
  }

  .med {
    input {
      width: 100px;
      padding: 0 8px;
    }
  }

  .hide-error-msg {
    .field-error {
      display: none;
    }
  }

  .simple-table-bordered {
    th {
      &:last-child {
        border-right: 1px solid $border-color;
      }
    }
  }
}

.is-headquarter {
  color: #999999;
  font-size: 10px;
  margin-left: 4px;
  height: 15px;
  width: 29px;
  border: solid 1px #c5cbcf;
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.hide-errors {
  .field-error {
    display: none;
  }
}

.group-edit-basic {
  .input-for-error {
    .form-control {
      display: none;
    }

    .field-error {
      padding: 8px 8px;
      display: block;
    }
  }

  .field-with-spin {
    display: inline-block;
    position: relative;

    :first-child {
      float: left;

      .field-error {
        svg {
          margin-top: 4px;
        }
      }
    }
    .icon-spin {
      position: absolute;
      top: 7px;
      right: 80px;
      font-size: 16px;
    }
  }
}

.rate-input {
  width: 150px;

  input {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.welfare-annuity-number {
  width: 280px;
  input[type=text] {
    width: 130px !important;
    padding-left: 8px;
  }
}
