// for icons

.fa-bell, .fa-question-circle, .fa-bullhorn {
  font-size: 20px;

  &.block-heading-icon {
    font-size: 14px;
  }
}

.fa-search {
  font-size: 12px;
}

.svg-inline--fa, .fas {
  color: #7C8291;

  &:hover {
    color: #3D79D0;
  }
}

svg.bg-disabled {
  opacity: 0.3;
}

.qa {
  svg {
    color: #3D79D0;
  }

  svg.fa-1x {
    margin-right: 4px;
    font-size: 12px;
  }
}
