input::placeholder { /* Firefox, Chrome, Opera */
  color: #999999 !important;
  font-size: $font-size-base !important;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999999 !important;
  font-size: $font-size-base !important;
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color: #999999 !important;
  font-size: $font-size-base !important;
}

.placeholder {
  color: #999999 !important;
}

.datepicker .flatpickr-input, input {
  color: $gray !important;
}

.input-other {
  min-width: 280px;
  border-radius: 4px;
  border: 1px solid $border-color;
  padding-left: 8px;
  height: 32px;
}

.info-value {
  input:not([type='radio']):not([type='checkbox']) {
    min-width: 280px;
    border-radius: 4px;
    border: 1px solid $border-color-input;
    padding-left: 8px;
    height: 32px;

    &:focus {
      border: solid 1px #979797;
      outline: none;
      -webkit-box-shadow: 0px 0px 0px 2px rgba(61, 121, 208, 0.3);
      -moz-box-shadow: 0px 0px 0px 2px rgba(61, 121, 208, 0.3);
      box-shadow: 0px 0px 0px 2px rgba(61, 121, 208, 0.3);
    }

    &.med {
      min-width: 150px;
      max-width: 150px;
    }
    &.smaller {
      min-width: 80px;
      max-width: 80px;
    }

    &.has-warning {
      border: 1px solid #f57575 !important;
      background-color: #ffeeeb;
    }
  }

  .med {
    input:not([type='radio']):not([type='checkbox']) {
      min-width: 150px;
      max-width: 150px;
    }
  }
  .smaller {
    input:not([type='radio']):not([type='checkbox']) {
      min-width: 80px;
      max-width: 80px;
    }
  }

  .datepicker,
  .date-picker  {
    min-width: 280px;
    max-width: 280px;

    &.med {
      min-width: 150px;
      max-width: 150px;
    }
  }

  .default-input {
    width: min-content;
    margin: 0;

    textarea {
      min-width: 280px;
    }
  }

  .unit {
    order: 0;
  }

  .field-error {
    width: percentage(1);
    order: 1;
  }

  .text-gray-sub {
    order: 2;
  }

  .read-only {
    &:not([type='radio']):not([type='checkbox']) {
      border: none;
      padding: 0;
      background: none;
      outline: none;

      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }

    .btn {
      border: none;
    }
  }
}

.info-value.input-inline {
  input[type='text'] {
    min-width: 0;
    width: 100%;
    padding: 8px;

    &:focus {
      box-shadow: none;
    }
  }

  &.has-unit {
    > div {
      padding-right: 1em;
    }

    .unit-absolute {
      right: -0.1em;
      display: inline-block;
    }
  }

}

.list-btn-radios {
  &.read-only {
    .form-check {
      margin-left: 0;
      padding-left: 0;
      margin-bottom: 0;

      .form-check-label {
        display: none;
        padding-left: 0;
      }

      .form-check-input {
        display: none;

        &::before,
        &:after {
          display: none;
        }

        &:checked ~ .form-check-label {
          display: inline-block;
        }
      }
    }
  }

  &.radios-inline {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .form-check {
      margin: 0;
      margin-left: 15px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.list-btn-checkboxes {
  &.read-only {
    .form-check {
      display: none;

      &--checked {
        display: flex;
        pointer-events: none;
      }
    }

    .form-check-input {
      display: none;
    }
  }
}

input[type="text"]:disabled {
  background: #fafafa;
}

.search-form {
  min-width: calc((100% - 70px)/5);
  max-width: calc((100% - 70px)/5);
  margin-right: 12px;
  margin-bottom: 16px;
  position: relative;

  &.small {
    min-width: 120px;
    max-width: 120px;
    font-size: 100%;
  }

  &.med {
    min-width: 190px;
    max-width: 190px;
  }

  label {
    white-space: nowrap;
    margin: 0;
  }

  input.form-control {
    height: 28px;
    width: 100%;
    padding-left: 8px;
  }

  input:focus {
    outline: none;
    border-color: $gray-400;
  }

  svg {
    position: absolute;
    right: 6px;
  }

  label + div {
    margin-top: 4px;
  }
}

.submit-form {
  @extend .search-form;

  input.form-control {
    height: 32px;
  }
}

input.default-input {
  border-radius: 4px;
  height: 32px;
  border: 1px solid $border-color;
}

.input-groups {
  display: flex;

  label {
    margin: 0;
  }

  input {
    width: inherit;
  }
}

input {
  padding-left: 8px;
}

.default-input {
  textarea {
    padding-left: 8px;

    &:focus {
      color: $input-color;
    }
  }

  &.inline {
    input {
      padding-left: 8px;
      height: 28px;

      &:focus {
        box-shadow: none;
        border-color: #ced4da;
      }
    }

    &.has-error {
      span.field-error {
        display: none;
      }
    }
  }

  &.no-outline {
    input.form-control {
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  &.width-2em {
    input.form-control {
      padding: 4px;
      width: 2em !important;
      min-width: 2em !important;
    }
  }
  &.width-3em {
    input.form-control {
      padding: 4px;
      width: 3em !important;
      min-width: 3em !important;
    }
  }
}

.col-sm-6 {
  .d-flex-line {
    .info-value {
      .datepicker {
        min-width: 200px !important;
        max-width: 200px !important;

        .flatpickr-input {
          min-width: 200px !important;
          max-width: 200px !important;
        }
      }

      input {
        min-width: 200px !important;
        max-width: 200px !important;
      }
    }

    input[name="health_regular_revision_month"],
    input[name="welfare_regular_revision_month"] {
      max-width: 80px !important;
      min-width: 80px !important;
      margin-left: 8px;
    }

    input[name="welfare_regular_revision_month"] {
      margin-top: 0 !important;
    }
  }
}

.react-switch {
  font-size: 12px;

  .on {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #ffffff;
  }

  .off {
    @extend .on;
    padding-right: 2px;
  }
}

input + label {
  padding-left: 8px;
}

input[type=checkbox], input[type=radio] {
  width: 14px;
  height: 12px;
  cursor: pointer;

  &:before {
    content: "";
    width: 16px;
    height: 16px;
    background-color: $white;
    position: absolute;
    top: -2px;
    left: -1px;
  }
}

input[type=radio]:disabled {
  &:before {
    background-color: #fafafa;
    cursor: default;
  }
}

input[type=radio]:checked {
  &:after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 4.5px;
  }
}

input[type=radio] {
  &:before {
    border-radius: 50%;
    left: -0.5px !important;
  }
}

input[type=checkbox]:checked {
  &:after {
    content: " ";
    width: 5px;
    height: 10px;
    left: 4.5px;
    display: block;
    border: solid $white;
    border-width: 0 0.15em 0.15em 0;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

input[type=checkbox] {
  &:before {
    border-radius: 4px;
  }
}

input[type=checkbox]:checked, input[type=radio]:checked {
  &:before {
    background-color: #3d79d0 !important;
    border: 1px solid rgba(0, 0, 0, .15);
  }
}

input[type=checkbox], input[type=radio] {
  margin-right: 0 !important;
  &:before {
    background-color: $white;
    border: 1px solid #c5cbcf;
  }
}

.form-group  {
  input {
    margin: 0;
  }

  .list-btn-checkboxes,
  .list-btn-radios {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .form-check {
    margin-bottom: 16px;
  }

  .form-check:nth-last-child(1) {
    margin-bottom: 0px;
  }
}

.form-check-label {
  cursor: pointer;
}

.upload-field {
  margin: 11px 0 12px 0;
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;

    input[type=file] {
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }

    input[type=file], /* FF, IE7+, chrome (except button) */
    input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
      cursor: pointer;
    }
  }

  .btn-upload {
    width: 108px;
    height: 24px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #d4d8dd;
    background-image: linear-gradient(to top, #ffffff, #ffffff 33%);
    font-size: 12px;
  }

  .hint,
  .preview {
    color: #999999;
    line-height: 1.5;
  }

  .has-file {
    color: #3b7de9;
  }
}

.small-input {
  input {
    font-size: 12px;
    height: 28px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.input-icon {
  .dropdown-menu {
    width: 200px;
    padding: 0;
    margin: 0 0 0 13px;
    border-radius: 4px;
    box-shadow: none;
    border: solid 1px #c5cbcf !important;
  }

  .dropdown-item {
    padding: 0;
    height: auto;
    display: inline-block;
  }

  .btn-menu-top {
    height: auto;
  }

  &__head {
    height: 31px;
    padding: 0 9px;
    border-bottom: solid 1px #d4d8dd;
    background-color: #fafafa;
    text-align: right;
  }

  &__content {
    padding: 9px 9px 0 9px;
  }

  &__icon {
    width: 18px;
  }

  .form-label {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.07px;
    margin: 0 0 3px 0;
  }

  .form-control {
    height: 56px;
    padding: 4px 3px 2px 4px;
    letter-spacing: 0.07px;
    border-radius: 4px;
    border: solid 1px #c5cbcf;
    background-color: $white;

    &:focus {
      box-shadow: none;
      color: $gray;
    }
  }
}
