.tag {
  @extend .text-primary;
  padding: 0 4px 0 4px;
  font-weight: bold;
  border: solid 1px $blue;
  border-radius: 4px;

  & + & {
    margin: 0 0.5em;
  }

  &.small {
    font-size: 0.88em;
  }
}
