.zendesk-chat-launcher{
    position: fixed;
    right: 10px;
    bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(71, 114, 179, 1) !important;
    padding-top: 5px;
    padding-bottom: 5px;
}
